body {
  background-color: #E5E5E5;
}

.App {
  text-align: Center;
  font-family: 'IBM Plex Sans';
  display: Flex;
  justify-content: Center;
  align-items: Center;
  height: 100vh;
}

header {
  position: Absolute;
  height: 60px;
  width: 100%;
  top: 0px;
  background: #0577CA;
}

.Sign-in-container {
  background-color: #FFFFFF;
  width: 450px;
  height: 375px;
  display: Flex;
  justify-content: Center;
  align-items: Center;
  border: 1px Solid #EBEBEB;
  box-sizing: Border-Box;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 9px;
}
