body {
  background-color: #E5E5E5;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica New", Helvetica, sans-serif;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

header {
  background: #0577CA;
  height: 60px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.Sign-in-container {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 9px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  display: flex;
  height: 375px;
  justify-content: center;
  width: 450px;
}

.Logout-Button {
  display: block;
  background: #0577CA;
  color: white;
  padding: 6px 16px;
  min-width: 80px;
  font-size: 18px;
  border-radius: 4px;
  border: none;
  cursor:pointer;
}

#code {
  text-align: left;
  font-family: monospace;
  white-space: pre-wrap;
  background: white;
  border-radius: 4px;
  padding: 12px 8px;
}