body {
  background-color: #E5E5E5;
}

.header {
  position: absolute;
  height: 59px;
  width: 100%;
  left: -1px;
  top: 0px;
  background: #0577CA;
}

.App {
  text-align: center;
  font-family: 'IBM Plex Sans';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Sign-in-container {
  background-color: #FFFFFF;
  width: 450px;
  height: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 9px
}
