body {
  background-color: #E5E5E5;
}

.App {
  align-items: center;
  display: flex;
  font-family: "Helvetica New", Helvetica, sans-serif;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

header {
  background: #0577CA;
  height: 60px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.Sign-in-container {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 9px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  display: flex;
  height: 375px;
  justify-content: center;
  width: 450px;
}
